@using InventoryManager.DAL.Enums;
@model InventoryManager.BLL.Models.ProfileViewModel;
@{
    ViewData["Title"] = "Edit Profile";
}

<h1>Edit</h1>

<h4>Profile</h4>
<hr />
<div class="row">
    @if (@ViewBag.ErrMsg != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> @ViewBag.ErrMsg
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (@ViewBag.SuccMsg != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> @ViewBag.SuccMsg
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="col-md-4">
        <form asp-action="UpdateProfile" asp-controller="User">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
          
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Product" asp-action="Index">Back to Product List</a>
</div>

@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
    ;
}
